@page
@model ErikaHamby.AboutModel
@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>Erika Hamby</h3>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Software/Web Developer</h3>
            <p>Passion for software and web development.</p>
        </div>
        <div class="col-lg-6">
            <h3>Music Lover</h3>
            <p>Avid music lover and concertgoer.</p>
        </div>
    </div>
</div>
