@page
@model ErikaHamby.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>
<h3>Erika Hamby</h3>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <address>
                <strong>Email:</strong> <a href="mailto:elhamby@gmail.com">elhamby@gmail.com</a>
            </address>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <address>
                <strong>Location:</strong> Chattanooga, TN
            </address>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <address>
                <img id="google-map-chattanooga" src="~/images/googlemaps_chattanooga.png" alt="Chattanooga, TN" />
            </address>
        </div>
    </div>
</div>
