@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container index-container py-4">
    <div class="p-5 mb-4 bg-container rounded-3">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-3">Hello, world!</h1>
                    <p>Welcome to my little slice of the Internet.</p>
                    <p>Feel free to poke around and check out all about me.</p>

                    <div class="social-icons">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="https://twitter.com/erlyha" class="twitter" alt="Twitter" target="_blank"></a></li>
                            <li class="list-inline-item"><a href="http://www.facebook.com/erikahamby" class="facebook" alt="Facebook" target="_blank"></a></li>
                            <li class="list-inline-item"><a href="http://instagram.com/erlyha" class="instagram" alt="Instagram" target="_blank"></a></li>
                            <li class="list-inline-item"><a href="http://www.linkedin.com/in/erikahamby" class="linkedin" alt="LinkedIn" target="_blank"></a></li>
                            <li class="list-inline-item"><a href="https://github.com/erlyhadev" class="github" alt="GitHub" target="_blank"></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 index-img">
                    <img src="~/images/me.jpg" )" alt="Me" class="rounded">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3>Software/Web Developer</h3>
            <p>Passion for software and web development.</p>
        </div>
        <div class="col-lg-6">
            <h3>Music Lover</h3>
            <p>Avid music lover and concertgoer.</p>
        </div>
    </div>
</div>
